<%= form_for(@country) do |f| %>
  <% if @country.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@country.errors.count, "error") %> prohibited this country from being saved:</h2>

      <ul>
      <% @country.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :population %><br>
    <%= f.number_field :population %>
  </div>
  <div class="field">
    <%= f.label :median_age %><br>
    <%= f.text_field :median_age %>
  </div>
  <div class="field">
    <%= f.label :life_expectancy %><br>
    <%= f.text_field :life_expectancy %>
  </div>
  <div class="field">
    <%= f.label :gdp %><br>
    <%= f.text_field :gdp %>
  </div>
  <div class="field">
    <%= f.label :mandatory_military_service %><br>
    <%= f.check_box :mandatory_military_service %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
